#project_title {
  vertical_align: center
}

#header_wrap {
  background-image: url(/assets/images/Creative-Habit.jpeg);
  background-size: cover;
}

.nav-content {
  display: flex; 
}

.nav-link {
  display: block;
  width: 20%;
  color: white;
}
