.outer {
  background-image: url("/assets/images/Creative-Habit.jpeg");
  background-size: cover;
}

.nav-content {
  display: flex;
  text-align: center
}

.nav-link {
  display: block;
  width: 20%;
  color: white;
}
